:root {
  --background-color: #eeeeee;
  --card-background-color: #eeeeee;
  --default-text-color: #222831;
  --shadow-color: #222831;
}

html {
    font-size: 12px;
}

html, body {
}

body {
  background-color: var(--background-color);
  font-family: "Arial", serif;
  font-size: 1.6rem;
  color: var(--default-text-color);
  margin: 0;
  padding: 0;

  /* Full height */

}
div {
  padding: 0px 0px 0px 0px;
}

.Header {
  background-image: url(HeaderBackground.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header .Title-Card {
  position: relative;
  margin: auto;
  width: 900px;
  max-width: 85%;
  top: 45px;
  background-color: var(--card-background-color);
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

.Title-Card h1 {
  width: 100%;
}

.Header .Title-Card-Text {
  margin: auto;
  width:85%;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.title-card-text p {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.Header .Title-Card-Picture {
  margin: auto;
  max-height: 35%;
  width: 55%;
  vertical-align: middle;
}

.Title-Card-Picture img {
  margin: auto;
  max-height: 100%;
  max-width: 50%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.Section-Heading {
  background-color: var(--card-background-color);
  padding: 10px 0px 10px 0px;
  width: 100%;
  top: 10%;
  width: 100%;
  height: 10%;
}

.Section-Heading h1 {
  position: relative;
  text-align: center;
}

.Experience {
  width: 100%;
  position: relative;
  background-color: var(--card-background-color)
}

.Experience .Notes {
  margin: auto;
  max-width: 90%;
}

.Experience .Dates {
  font-style: oblique;
}

.Experience h3{
  width: 100%;
  text-align: center;
}

.Experience .Company {
  position: relative;
  margin: auto;
  width: 900px;
  max-width: 85%;
  top: 100px;
  background-color: var(--card-background-color);
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

.Experience .IEEE-RobotTeam {
  background-image: url(IEEE-Robot-Background.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}

.Experience .ESR {
  background-image: url(ESR-Background-Image.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}

.Experience .IAC {
  background-image: url(IAC-Background-Image.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}

.Experience .American {
  background-image: url(American-Background-Image.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Experience .Company h3{
  color: black;
}

.Technical-Skills {
  position: relative;
}

.Technical-Skills .Section-Heading {
  text-align: center
}

.Technical-Skills .Background {
  padding: 10px 0px 10px 0px;
  background-image: url(Technical-Skills-Background.jpg);
  min-height: 50%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Technical-Skills ul {
  margin: auto;
  list-style-type: none;
}

.Technical-Skills .Center {
  margin: auto;
  width: 900px;
  max-width: 90%;
}

.Technical-Skills .Column {
  margin: auto;
  float: left;
  width: 33%;
  transform: translate(-2%);
}

.Technical-Skills li {
  background: var(--card-background-color);
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
  margin-top: 10px;
  margin-bottom: 5%;
  margin-left: 5px;
  text-align: center;
  border-radius: 10px;
}

.Personal-Skills {
  width: 100%;
  position: relative;
  float: left;
}

.Personal-Skills .Section-Heading {
  text-align: center
}

.Personal-Skills .Center {
  margin: auto;
  width: 900px;
  max-width: 90%;
}

.Personal-Skills .Background {
  padding: 10px 0px 10px 0px;
  background-image: url(Personal-Skills-Background.jpg);
  min-height: 20%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Personal-Skills ul {
  margin: auto;
  list-style-type: none;
}

.Personal-Skills .Column {
  float: left;
  margin: auto;
  width: 50%;
}

.Personal-Skills li {
  background: var(--card-background-color);
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: center;
  border-radius: 10px;
}

.References {
  width: 100%;
  position: relative;
  float: left;
}

.References .Center {
  margin: auto;
  width: 900px;
  max-width: 90%;
}

.References .Section-Heading {
  text-align: center;
}

.References .Column{
  float: left;
  width: 50%;
}

.References .Referance {
  background: var(--card-background-color);
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 25px;
}

.Contact-Info {

}
.Contact-Info .card {

}


@media screen and (max-width: 845px) {

  .Technical-Skills .Center {
    margin: auto;
    width: 900px;
    max-width: 90%;
  }

  .Technical-Skills .Column {
    margin: auto;
    float: none;
    width: 80%;
    transform: translate(-2%);
  }

  .Personal-Skills .Center {
    margin: auto;
    width: 900px;
    max-width: 90%;
  }

  .Personal-Skills .Column {
    float: none;
    margin: auto;
    width: 90%;
    min-width: 50%;
  }

  .References .Center {
    margin: auto;
    width: 900px;
    max-width: 100%;
  }

  .References .Column{
    float: none;
    margin: auto;
    width: 85%;
  }
}
